*{
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    color: #612903;
}

header {
    color: #AD4601;
}

header img{
    width: 100px;
}

main {
    background-color: #AD8318;
    height: auto;
}

h4{
    height: 30px;
}

footer{
    height: 15vh;
}

@media screen and (min-width: 830px) {
    #img-bg{
        width: 530px;
        margin-top: 30px;
    }
}