*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header img {
    width: 100px;
}

header {
    color: #AD4601;
}

main {
    background-color: #AD8318;
    height: auto;
}

footer{
    height: 15vh;
}

ul {
    list-style: none;
}

ul a {
    color: #AD8318;
    text-decoration: none;
}

ul a:hover {
    color: black;
}

.width {
    max-width: 350px;
}

#btn-contato {
    width: 150px;
    height: 50px;
}

#img-initial img{
    width: 70vw;
    
}

.btn-menu {
    position: absolute;
    top: 30px;
    left: 30px;
    border: 1px solid black;
}

#open-menu {
    width: 100vw;
    height: 100vh;
    background-color: red;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width: 670px) {
    #nav-menu{
        display: none;
    }
    #nav-btn{
        display: block;
        position: absolute;
        top: 30px;
        left: 30px;
    }
}